<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- ========== PAYMENTS ========== -->
    <bean id="upiPayment"
          class="in.prahlad.springcore.day1.payment.UpiPayment"/>

    <bean id="cardPayment"
          class="in.prahlad.springcore.day1.payment.CardPayment"/>

    <!-- OrderService using Constructor IOC -->
    <bean id="orderService"
          class="in.prahlad.springcore.day1.payment.OrderService">
        <constructor-arg ref="upiPayment"/>
        <!-- constructor-arg ref="cardPayment"/ -->
    </bean>


    <!-- ========== NOTIFICATIONS ========== -->
    <bean id="emailService"
          class="in.prahlad.springcore.day1.notification.EmailService"/>

    <bean id="smsService"
          class="in.prahlad.springcore.day1.notification.SmsService"/>

    <!-- NotificationService using Setter IOC -->
    <bean id="notificationService"
          class="in.prahlad.springcore.day1.notification.NotificationService">
        <property name="messageService" ref="emailService"/>
        <!-- property name="messageService" ref="smsService"/ -->
    </bean>

</beans>